{% extends "base.html" %}
{% block content %}
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light" style="background: rgb(199, 103, 68);">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand" href="{{ url_for('index') }}"><div class="yummy-logo">Y</div><div class="yummy-logos">ummy Recipes</div></a>
        
        <!-- Links -->
        <div class="collapse navbar-collapse" id="nav-content">   
          <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('viewcategory') }}">Categories</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('viewrecipe') }}">Recipes</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </div>                   
    </nav>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-3 d-none d-md-block">
        <div class="yummy-card">
          <img class="yummy-image img-thumbnail" src="{{url_for('static', filename='images/background.jpg') }}" alt="Profile Image">
          <span class="yummy-username">@{{ user.username }}</span>
          <span class="yummy-job">{{ user.bio }}</span>
          <div class="list-group">
            <hr>
            <a href="{{ url_for('profile') }}" class="list-group-item list-group-item-action">Profile</a>
            <a href="{{ url_for('viewcategory') }}" class="list-group-item list-group-item-action list-group-item-info">Categories</a>
            <a href="{{ url_for('viewrecipe') }}" class="list-group-item list-group-item-action list-group-item-success">Recipes</a>
            <hr>
            <a href="{{ url_for('logout') }}" class="list-group-item list-group-item-action list-group-item-warning">Logout</a>
          </div>
        </div>
      </div>
      <div class="col-md-7 offset-md-1">
          <div class="yummy-card">
            <h3 class="yummy-heading">Edit Recipe</h3>
            <hr>
            <form class="yummy-form" action="{{ url_for('editrecipe', categoryid=categoryid, recipeid=recipeid) }}" method="post" name="editrecipe">
                <legend>Edit Recipe</legend>
                <fieldset class="form-group">
                        <label for="recipetitle"><i class="fa fa-bolt" aria-hidden="true"></i> Recipe title</label>
                        {{ form.recipetitle(class="form-control", placeholder="Recipe title")}}
                        {% if form.recipetitle.errors %}
                            <ul class=errors style="color: red; font: Verdana;">
                            {% for error in form.recipetitle.errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                </fieldset>
                <fieldset class="form-group">
                        <label for="recipedescription"><i class="fa fa-bolt" aria-hidden="true"></i> Recipe description</label>
                        {{ form.recipedescription(class="form-control", placeholder="Recipe description")}}
                        {% if form.recipedescription.errors %}
                            <ul class=errors style="color: red; font: Verdana;">
                            {% for error in form.recipedescription.errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                </fieldset>
                <button type="submit" class="btn btn-success btn-block"><i class="fa fa-2x fa-edit" aria-hidden="true"></i> Edit Recipe</button>
            </form>
            <hr>
            <a href="{{ url_for('profile') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
          </div>
      </div>
    </div>
  </div>

{% endblock %}
