{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-5 offset-md-4">
        <div class="yummy-form">
            <h3>Yummy Recipes</h3>
            <legend>Welcome</legend>
            <p>Welcome, please sign up or sign in.</p>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul class="yummy-flash" style="padding: 1.5em; background-color: lightgreen; border-radius: 5px; box-shadow: 1px 2px #eeeccc; ">
                {% for category, message in messages %}
                  <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <a href="{{ url_for('signup') }}" class="btn btn-success btn-block"><i class="fa fa-2x fa-unlock" aria-hidden="true"></i> Sign Up</a>
            <a href="{{ url_for('signin') }}" class="btn btn-info btn-block"><i class="fa fa-2x fa-unlock" aria-hidden="true"></i> Sign In</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}