{% extends "base.html" %}
{% block content %}
    <script type="text/javascript">
        function set_openid(openid, pr)
        {
            u = openid.search('<username>');
            if (u != -1) {
                // openid requires username
                user = prompt('Enter your ' + pr + ' username:');
                openid = openid.substr(0, u) + user;
            }
            form = document.forms['signin'];
            form.elements['openid'].value = openid;
        }
    </script>
    <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <form class="yummy-form" action="" method="post" name="signin">
                {{ form.hidden_tag() }}
                <center>
                        <h3>Yummy Recipes</h3>
                </center>
                <legend>Sign In</legend>
                <p>Please enter your OpenID, or select one of the providers below:<br></p>
                <fieldset class="form-group">
                        <label for="email"><i class="fa fa-user" aria-hidden="true"></i> OpenID</label>
                        <p class="form-control">{{ form.openid }}</p>
                        <p class="form-control">{{ form.remember_me }} Remember Me</p>
                </fieldset>
                <fieldset class="form-group">
                        {% for error in form.openid.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}<br>
                        |{% for pr in providers %}
                            <a href="javascript:set_openid('{{ pr.url }}', '{{ pr.name }}');">{{ pr.name }}</a> |
                        {% endfor %}
                </fieldset>
                <button type="submit" class="btn btn-success btn-block"><i class="fa fa-2x fa-unlock" aria-hidden="true"></i> Sign In</button>
            </form>
          </div>
        </div>
    </div>

{% endblock %}
