{% extends "base.html" %}
{% block content %}
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light" style="background: rgb(199, 103, 68);">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand" href="{{ url_for('index') }}"><div class="yummy-logo">Y</div><div class="yummy-logos">ummy Recipes</div></a>
        
        <!-- Links -->
        <div class="collapse navbar-collapse" id="nav-content">   
          <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('viewcategory') }}">Categories</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('viewrecipe') }}">Recipes</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </div>                   
    </nav>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-3 d-none d-md-block">
        <div class="yummy-card">
          <img class="yummy-image img-thumbnail" src="{{url_for('static', filename='images/background.jpg') }}" alt="Profile Image">
          <span class="yummy-username">@{{ user.username }}</span>
          <span class="yummy-job">{{ user.bio }}</span>
          <div class="list-group">
            <hr>
            <a href="{{ url_for('profile') }}" class="list-group-item list-group-item-action">Profile</a>
            <a href="{{ url_for('viewcategory') }}" class="list-group-item list-group-item-action list-group-item-info">Categories</a>
            <a href="{{ url_for('viewrecipe') }}" class="list-group-item list-group-item-action list-group-item-success">Recipes</a>
            <hr>
            <a href="{{ url_for('logout') }}" class="list-group-item list-group-item-action list-group-item-warning">Logout</a>
          </div>
        </div>
      </div>
      <div class="col-md-7 offset-md-1">
          <div class="yummy-card">
            <h3 class="yummy-heading">View Recipes</h3>
            <hr>
            <h5 class="yummy-head">My Recipes</h5>
            {% if categories %}
              {% for category in categories.values() %}
              {% set id = category.id %}
                {% for recipe in categories[id].recipes.values() %}
                {% set rid = recipe.id %}
                  <p class="yummy-recipe"><a href="{{ url_for('recipe', categoryid=id, recipeid=rid) }}">{{ recipe.recipetitle}} </a><span><a href="#" style="color: #9e1f37;" data-toggle="modal" data-target="#dr{{ rid }}">X</a></span></p>
                {% endfor %}
              {% endfor %}
            {% endif %}
            <hr>
            <hr>
            <a href="{{ url_for('profile') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
          </div>
      </div>
      {% if categories %}
        {% for category in categories.values() %}
        {% set id = category.id %}
          {% for recipe in categories[id].recipes.values() %}
          {% set rid = recipe.id %}
            <!-- The recipe modal -->
            <div class="modal fade" id="dr{{ rid }}" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalLabelSmall">Delete recipe</h4>
                  </div>

                  <div class="modal-body">
                    <p>Are you sure you want to delete this recipe?</p>
                    <a href="{{ url_for('deleterecipe', categoryid=id, recipeid=rid) }}" class="btn btn-lg btn-block btn-danger"><i class="fa fa-minus" aria-hidden="true"></i> Delete recipe</a>
                  </div>

                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
    </div>
  </div>

{% endblock %}
